/* BEGIN blue page header */
#home-wrapper > header {
    background: #111;
}
/* END blue page header */

/* BEGIN inner conversation pane thing */
.conversation-page {
    background: #000;
}

.conversation-page {
    background: #000;
}

/* hovered conversation card… */
[data-name=conversation-card][data-id]:hover,
[data-name=conversation-card][data-id]:focus {
    background: #111;
}

/* specificity wars -_- */
[data-test-automation-id] > [data-test-automation-id=conversation-page-header] {
    background: black;
}

/* group conversation title */
[data-test-automation-id=conversation-page-header-title] > div,
/* individual person conversation title (yes, they’re different!), specificity wars! */
h6[data-test-automation-id=conversation-page-header-title][title] {
    color: #ddd;
}

[data-name],
[data-test-automation-id=file-name]{
    color: #999;
}

a[id].at_mention_compose {
    color: #449;
}

/* the mention composer/name selector */
[data-test-automation-id=mention-panel] {
    border: 1pt solid #444;
    background: #000;
    color: #999;
}
[data-test-automation-id=mention-panel] [data-test-automation-class=match-item] {
    color: #999;
}
[data-test-automation-id=mention-panel] [data-test-automation-class=match-item].selected {
    background: #400;
}

/* time separator in conversation */
[data-test-automation-class=time-node-divider] > div,
[data-test-automation-class=time-node-divider] > div > * {
    background: #222;
    color: #aaa;
}

/* text editor when focused  */
.message-input .ql-snow:hover,
/* text editor content text  */
.message-input .ql-snow .ql-editor {
    background: black;
    color: #aaa;
}

/* END inner conversation pane thing */

/* BEGIN left iconbar */
#app-main-section .left-paper {
    background: #111;
}
#app-main-section .left-paper .nav-icon .icon svg,
#app-main-section .left-paper .nav-text * {
    /* svg */
    fill: #999;
    color: #999;
}
#app-main-section .left-paper .selected[role=button] .nav-icon .icon svg,
#app-main-section .left-paper .active .nav-txt * {
    fill: #a44;
    color: #a44;
}
/* The little message count bubble */
#app-main-section .left-paper span.umi {
    color: #aaa !important;    
    background: #400 !important;
    border-color: #999;
}
/* END left iconbar */

/* BEGIN left sidebar */

[data-test-automation-id=leftRail] {
    background: black;
}
/* mentions and bookmarks buttons */
[data-test-automation-id=leftRail] div[role=button][data-test-automation-id^=entry-] {
    background: #222;
}
[data-test-automation-id=leftRail] div[role=button][data-test-automation-id^=entry-] > p {
    color: #aaa;
}
/* unreadonly trigger */
[data-test-automation-id=leftRail] li[data-test-automation-id=unreadOnlyToggler] > p {
    color: #999;
}
/* groupings header */
div[data-test-automation-id].conversation-list-section-header > div > p {
    color: #aaa;
}
/* person name in grouping */
ul.conversation-list-section-collapse > li > [data-test-automation-class=conversation-list-item] > p[title] {
    color: #999;
}
/* selected person name */
[data-test-automation-id=leftRail] ul.conversation-list-section-collapse > li > div.selected.selected.selected.selected.selected.selected {
    background: rgba(255, 64, 64, 0.30) !important;
    color: #999;
}
/* New Folder button */
[data-test-automation-id=leftRail] [data-test-automation-id=createFolder] {
    background: #000;
}
[data-test-automation-id=leftRail] [data-test-automation-id=createFolder] > p{
    color: #999;
}

/* END left sidebar */

/* BEGIN top icon bar/dropdowns */

/* Dial Pad/New Actions buttons */
button.MuiFab-root.MuiButtonBase-root {
    background: #444;
}
button.MuiFab-root.MuiButtonBase-root:hover {
    background: #944;
}
button.MuiFab-root.MuiButtonBase-root .icon svg {
    color: #bbb;
}

/* User profile button dropdown */
.MuiPaper-root {
    background: #000;
    color: #999;
    border: 1pt solid #444;
}
.MuiPaper-root > div {
    background: transparent;
    color: inherit;
}
/* User profile button dropwdown “contact card” */
[class*=StyledContactWrapper],
[class*=StyledContactWrapper] [class*=StyledContactInfoName]{
    background: #000;
    color: inherit;
}
/* The other members of the user profile button dropdown */
.MuiListItem-root {
  color: inherit;
}
/* The sub-dropdowns of the profile button dropdown */
.MuiListItem-button {
    background: transparent;
    color: inherit;
}
.MuiListItem-button:hover {
    background: rgba(255, 128, 128, 0.15);
}

/* END top icon bar/dropdowns */

/* Remove the annoying “We recommend you use a supported browser or install the app” banner. */
div[data-test-automation-class=unsupportedBrowserBanner] {
    display: none;
}
